* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  margin: 2rem;
}
header {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  flex-wrap: wrap;
  padding: 2rem;
  font-size: 26px;
}
section i {
  display: block;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  align-items: space-around;
}
.center {
  justify-items: center;
  flex: 1;
}
body {
  align-items: center;
}
