* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  margin: 2rem;
}
span {
  color: #f39f21;
  font-size: 48px;
}
header {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );

  padding: 2rem 0.5rem;
  margin: 0.5rem;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
section p {
  margin: 2rem;
  padding: 1rem;
}
section {
  height: 25rem;
}
.foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  color: white;
  padding: 1rem;
  margin: 1rem;
  gap: 7rem;
}
footer h1 {
  color: white;
}
.fa-basket-shopping:after {
  content: attr(value);
  font-size: 1rem;
  background: red;
  border-radius: 50%;
  padding: 4px;
  position: relative;
  left: -15px;
  top: -10px;
}
a {
  font-size: 32px;
  text-decoration: none;
}
@media screen (max-width: 700px;) {
  .header {
    flex-wrap: wrap;
  }
  section {
  }
}
